@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Shadows+Into+Light&display=swap');

:root{
    --fonteSans: 'Noto Sans', sans-serif;
    --fontecursive:'Shadows Into Light', cursive;
    --cor0: #012E40;
    --cor1: #025159;
    --cor2: #038C8C;
    --cor3: #03A696;
    --cor4: #F28705;

}
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: var(--fonteSans);
    background-color: var(--cor3);
}
section{
    position: relative;
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.201);
    max-height: 100000px;
}
h1{
    background-image: linear-gradient(to bottom, var(--cor2), transparent 90%);
    padding-bottom: 20px;
    color: var(--cor0);
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.433);
    text-align: center;
}
h2{
    background-image: linear-gradient(to bottom, #f270059c, #0d9a8c20);
    padding: 8px 8px 20px 8px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0px 0px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.123);
}
p{
    line-height: 1.5em;
    text-indent: 30px;
}
ul{
    list-style-position: inside;
}
input{
    height: 20px;
    outline: solid 1px var(--cor0);
    background-color: #f7570707;
}
.button{
    outline: none;
    width: 15%;
    height: 9%;
    padding: 10px;
    background-color: var(--cor4);
    display: block;
    float: right;
    margin-right: 15%;
    border-radius: 13px;
    border-width: 0px;
    color: white;
    text-shadow: 0px 0px 1px black;
    font-family: var(--fonteSans);
}
.button:hover{
    background-color: #2bf0f068;
    width: 16.5%;
    height: 9%;
    font-size: 0.95em;
    color: rgba(0, 0, 0, 0.876);
    text-shadow: none;
    transition-duration: 0.5s;
}
.button:active{
    background-color: #2bf0f02f;
    outline: solid 1px rgba(0, 0, 0, 0.282);
    width: 17%;
    font-size: 0.98em;
    transition-duration: 0.05s;
}
div.botaoGG{
    position: relative;
    float: inline-start;
    margin-left: 7%;
    margin-top: 50px;
    margin-bottom: 10%;
    width: 40%;
    height: 30%;
}
div#resultado{
   padding: 10px;
   width: 100%;
   height: 30%;
}
.buttonGG{
    width: 130px;
    display: block;
    top: 30%;
    left: 50%;
    border-radius: 13px;
    border-width: 0px;
    height: 40px;
    outline: none;
    background-color: var(--cor4);
    color: white;
    text-shadow: 0px 0px 1px black;
    font-family: var(--fonteSans);
}
.buttonGG:hover{
    background-color: #2bf0f068;
    width: 135px;
    height: 42px;
    font-size: 0.95em;
    color: rgba(0, 0, 0, 0.876);
    text-shadow: none;
    transition-duration: 0.3s;
}
.buttonGG:active{
    background-color: #2bf0f02f;
    outline: solid 1px rgba(0, 0, 0, 0.282);
    width: 136px;
    font-size: 0.98em;
    transition-duration: 0.05s;
}